{% extends 'base.html.twig' %}

{% block title %}Recharge index
{% endblock %}

{% block body %}
	{% include "__fragments/nav.html.twig" %}
	{% include "__fragments/headerAdmin.html.twig" %}

	<!-- Top bar END -->
	<section class="pt-0 mx-2">

		<div class="container">
			
			<div class="row mb-4">
				{% for demande in demandes %}
					{% if (app.user == demande.Demandeur.Createur)  and (demande.etat != 1)  %}	
					<!-- Counter item -->
					<div class="col-lg-4">
						<div class="card card-body border border-danger bg-danger bg-opacity-10 border-opacity-25 p-4 h-100">
							<div
								class="d-flex justify-content-between align-items-center">
								<!-- Digit -->
								<div>
									<span class="mb-0 h6 fw-light"> {{demande.demandeur.FullName}} vous demande une confirmation de prise de sous de {{demande.montant}} </span>
								</div>
								<!-- Icon -->
								<div class="icon-lg rounded-circle flex-shrink-0 bg-danger text-white mb-0">
									<i class="bi bi-info-circle-fill"></i>
								</div>
							</div>
							<a href="{{path('app_confirmer_validation',{id : demande.id})}}" class="mt-3 btn btn-danger"> Confirmer la prise de sous
							</a>
						</div>
					</div>	
					{% endif %}					
				{% endfor %}
					
			</div>

			<div class="row mb-4">
				<div class="col-7">
					<h3 class="mb-0">Votre Tableau de Bord  </h3>
				</div>
				<div class="col-5">
					<a href="{{path('app_demande_de_validation')}}" class="mt-3 btn btn-success"> Demander une validation de prise de sous </a>
				</div>
			</div>

			<table id="myTable" class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Etat</th>
						<th>Agence</th>
						<th>Montant</th>
						{% if role == "ROLE_SUPER_MARCHANT"  %}						
						<th>Reference</th>
						<th>Code</th>	
						{% endif %}		
						<th>Utilisé Par</th>
						{% if role == "ROLE_SUPER_MARCHANT"  %}						
						<th>Superviseur</th>
						{% endif %}				
						<th>Date</th>
						<th>Heure</th>
					</tr>
				</thead>
				<tbody>
					{% for recharge in recharges %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>
								{% if recharge.etat is null %}
									<span class="badge text-bg-danger">Non utilisé</span>
								{% else %}
									<span class="badge text-bg-success">Déjà utilisé </span>
								{% endif %}
							</td>
							<td>{{ recharge.Agence }}</td>
							<td>{{ recharge.montant }}</td>
							{% if role == "ROLE_SUPER_MARCHANT"  %}		
							<td>{{ recharge.Reference }}</td>
							<td>{{ recharge.Code }}</td>
							{% endif %}		
							
							<td> {{recharge.getutilisePar.FullName}} </td>
							{% if role == "ROLE_SUPER_MARCHANT"  %}		
							<td>{{ recharge.getutilisePar.getCreateur.getFullName }}</td>
							{% endif %}				
							<td>{{ recharge.date }}</td>
							<td>{{ recharge.heure}}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>
		<!-- End Hero -->
	{% endblock %}
	{% block javascripts %}

		<script>
			document.addEventListener('DOMContentLoaded', function () { // Vérifier si le message Flash "success" est présent
			{% if app.request.hasPreviousSession() and app.request.session.flashBag.has('success') %}
			// Afficher le modal SweetAlert après le chargement de la page
			Swal.fire({title: 'Succès !', text: "L'opération a été un succès.", icon: 'success', confirmButtonColor: '#008060'});{% endif %}

			// Supprimer le message Flash "success" pour qu'il ne soit pas affiché à nouveau après un rechargement de page
			{% if app.request.hasPreviousSession() %}
			{% set flashMessages = app.request.session.flashBag.get('success') %}
			{% endif %}
			});
		</script>
	{% endblock %}
