{% extends 'base.html.twig' %}

{% block title %}Delai index{% endblock %}

{% block body %}
    <h1>Delai index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delai in delais %}
            <tr>
                <td>{{ delai.id }}</td>
                <td>{{ delai.date }}</td>
                <td>
                    <a href="{{ path('app_delai_show', {'id': delai.id}) }}">show</a>
                    <a href="{{ path('app_delai_edit', {'id': delai.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_delai_new') }}">Create new</a>
{% endblock %}
