{% extends 'base.html.twig' %}

{% block title %}Recharge index
{% endblock %}

{% block body %}
	{% include "__fragments/nav.html.twig" %}


	{% include "__fragments/headerAdmin.html.twig" %}

	<!-- Top bar END -->
	<section class="pt-0 mx-2">

		<div class="container ">
			<div class="row mb-4">
				<div class="col-9">
					<h3 class="mb-0">Liste des recharges disponibles </h3>
				</div>
				<div class="col-3">
					 	{% if role == "ROLE_SUPER_MARCHANT" %}
							<a class="btn btn-primary" href="{{ path('app_recharge_new') }}">
							<i class="bi bi-plus-circle mx-2"></i>Créer une recharge</a>
						{% endif %}
				</div>
			</div>
			{% if role == "ROLE_MARCHANT" %}
				{% if user.createur.delai.date is not null and ( "now"|date("d/m/Y") ) >= (user.createur.delai.date|date("d/m/Y")) %}
					<div class="card card-body border border-danger bg-danger bg-opacity-10 border-opacity-25 p-4 h-100">
						<div class="d-flex justify-content-between align-items-center">
							<!-- Digit -->
							<div>
								Votre superviseur n'a pas payé dans les délai. <br/> 
							</div>
							<!-- Icon -->
							<div class="icon-lg rounded-circle flex-shrink-0 bg-danger text-white mb-0">
								<i class="bi bi-x-circle-fill"></i>
							</div>
						</div>
					</div>
				{% elseif calcul <= 0 %}
					<div class="card card-body border border-danger bg-danger bg-opacity-10 border-opacity-25 p-4 h-100">
						<div class="d-flex justify-content-between align-items-center">
							<!-- Digit -->
							<div>
								Vous avez atteint votre marge de dette. <br/> Veuillez rembourser vos dettes pour bénéficier 
								à nouveau des services de recharge.
							</div>
							<!-- Icon -->
							<div class="icon-lg rounded-circle flex-shrink-0 bg-danger text-white mb-0">
								<i class="bi bi-x-circle-fill"></i>
							</div>
						</div>
					</div>	
				{% else %}
					<table id="myTable" class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Etat</th>
								<th>Agence</th>
								<th>Montant</th>
								{% if role == "ROLE_SUPER_MARCHANT"  %}						
								<th>Reference</th>
								<th>Code</th>
								{% endif %}					
								<th>Date</th>
								<th>Heure</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for recharge in recharges %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>
										{% if recharge.etat is null %}
											<span class="badge text-bg-danger">Non utilisé</span>
										{% else %}
											<span class="badge text-bg-success">Déjà utilisé </span>
										{% endif %}
									</td>
									<td>{{ recharge.Agence }}</td>
									<td>{{ recharge.montant }}</td>
									{% if role == "ROLE_SUPER_MARCHANT"  %}		
									<td>{{ recharge.Reference }}</td>
									<td>{{ recharge.Code }}</td>
									{% endif %}				
									
									<td>{{ recharge.date }}</td>
									<td>{{ recharge.heure}}</td>
									<td>
										
									{% if role == "ROLE_SUPER_MARCHANT"  %}		
										<a href="{{ path('app_recharge_edit', {'id': recharge.id}) }}">Modifier</a>
									{% elseif role == "ROLE_MARCHANT"  %}
										{% if ((recharge.montant + user.dette) > user.marge ) or ((recharge.montant + parent.dette) > parent.marge ) %}
											<a href="#">Impossible</a>
											{% else %}
												<a class="btn btn-sm btn-primary" href="{{ path('app_recharge_show', {'id': recharge.id}) }}">Utiliser</a>
										{% endif %}
									{% endif %}	
									
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}	
			{% elseif role == "ROLE_SUPERVISEUR" %}
				{% if user.delai.date is not null and ( "now"|date("d/m/Y") ) >= (user.delai.date|date("d/m/Y")) %}
					<div class="card card-body border border-danger bg-danger bg-opacity-10 border-opacity-25 p-4 h-100">
						<div class="d-flex justify-content-between align-items-center">
							<!-- Digit -->
							<div>
								Vous n'avez pas payé dans les délai. <br/> 
							</div>
							<!-- Icon -->
							<div class="icon-lg rounded-circle flex-shrink-0 bg-danger text-white mb-0">
								<i class="bi bi-x-circle-fill"></i>
							</div>
						</div>
					</div>
				{% elseif calcul <= 0 %}
					<div class="card card-body border border-danger bg-danger bg-opacity-10 border-opacity-25 p-4 h-100">
						<div class="d-flex justify-content-between align-items-center">
							<!-- Digit -->
							<div>
								Vous avez atteint votre marge de dette. <br/> Veuillez rembourser vos dettes pour bénéficier 
								à nouveau des services de recharge.
							</div>
							<!-- Icon -->
							<div class="icon-lg rounded-circle flex-shrink-0 bg-danger text-white mb-0">
								<i class="bi bi-x-circle-fill"></i>
							</div>
						</div>
					</div>	
				{% else %}
					<table id="myTable" class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Etat</th>
								<th>Agence</th>
								<th>Montant</th>
								{% if role == "ROLE_SUPER_MARCHANT"  %}						
								<th>Reference</th>
								<th>Code</th>
								{% endif %}					
								<th>Date</th>
								<th>Heure</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for recharge in recharges %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>
										{% if recharge.etat is null %}
											<span class="badge text-bg-danger">Non utilisé</span>
										{% else %}
											<span class="badge text-bg-success">Déjà utilisé </span>
										{% endif %}
									</td>
									<td>{{ recharge.Agence }}</td>
									<td>{{ recharge.montant }}</td>
									{% if role == "ROLE_SUPER_MARCHANT"  %}		
									<td>{{ recharge.Reference }}</td>
									<td>{{ recharge.Code }}</td>
									{% endif %}				
									
									<td>{{ recharge.date }}</td>
									<td>{{ recharge.heure}}</td>
									<td>
										
									{% if role == "ROLE_SUPER_MARCHANT"  %}		
										<a href="{{ path('app_recharge_edit', {'id': recharge.id}) }}">Modifier</a>
									{% elseif role == "ROLE_MARCHANT"  %}
										{% if ((recharge.montant + user.dette) > user.marge ) or ((recharge.montant + parent.dette) > parent.marge ) %}
											<a href="#">Impossible</a>
											{% else %}
												<a class="btn btn-sm btn-primary" href="{{ path('app_recharge_show', {'id': recharge.id}) }}">Utiliser</a>
										{% endif %}
									{% endif %}	
									
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}	
			{% else %}
					<table id="myTable" class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Etat</th>
								<th>Agence</th>
								<th>Montant</th>
								{% if role == "ROLE_SUPER_MARCHANT"  %}						
								<th>Reference</th>
								<th>Code</th>
								{% endif %}					
								<th>Date</th>
								<th>Heure</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for recharge in recharges %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>
										{% if recharge.etat is null %}
											<span class="badge text-bg-danger">Non utilisé</span>
										{% else %}
											<span class="badge text-bg-success">Déjà utilisé </span>
										{% endif %}
									</td>
									<td>{{ recharge.Agence }}</td>
									<td>{{ recharge.montant }}</td>
									{% if role == "ROLE_SUPER_MARCHANT"  %}		
									<td>{{ recharge.Reference }}</td>
									<td>{{ recharge.Code }}</td>
									{% endif %}				
									
									<td>{{ recharge.date }}</td>
									<td>{{ recharge.heure}}</td>
									<td>
										
									{% if role == "ROLE_SUPER_MARCHANT"  %}		
										<a href="{{ path('app_recharge_edit', {'id': recharge.id}) }}">Modifier</a>
									{% elseif role == "ROLE_MARCHANT"  %}
										{% if ((recharge.montant + user.dette) > user.marge ) or ((recharge.montant + parent.dette) > parent.marge ) %}
											<a href="#">Impossible</a>
											{% else %}
												<a class="btn btn-sm btn-primary" href="{{ path('app_recharge_show', {'id': recharge.id}) }}">Utiliser</a>
										{% endif %}
									{% endif %}	
									
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
			{% endif %}

		</div>
		<!-- End Hero -->
	{% endblock %}
	{% block javascripts %}
		<script>
			document.addEventListener('DOMContentLoaded', function () { // Vérifier si le message Flash "success" est présent
{% if app.request.hasPreviousSession() and app.request.session.flashBag.has('success') %}
// Afficher le modal SweetAlert après le chargement de la page
Swal.fire({title: 'Succès !', text: "L'opération a été un succès.", icon: 'success', confirmButtonColor: '#008060'});{% endif %}

// Supprimer le message Flash "success" pour qu'il ne soit pas affiché à nouveau après un rechargement de page
{% if app.request.hasPreviousSession() %}
{% set flashMessages = app.request.session.flashBag.get('success') %}
{% endif %}
});
		</script>
	{% endblock %}
